In [1]:
import pandas as pd

In [5]:
Folder_PATH = 'building_data_sort/'

In [24]:
data_density = pd.read_csv(Folder_PATH + 'building_density.csv', index_col=0)

In [25]:
data_density

      fishnet-ID  bu-area  building_density
0              1      0.0          0.000000
1              2      0.0          0.000000
2              3      0.0          0.000000
3              4      0.0          0.000000
4              5      0.0          0.000000
5              6      0.0          0.000000
6              7      0.0          0.000000
7              8      0.0          0.000000
8              9      0.0          0.000000
9             10      0.0          0.000000
10            11      0.0          0.000000
11            12      0.0          0.000000
12            13      0.0          0.000000
13            14      0.0          0.000000
14            15      0.0          0.000000
15            16      0.0          0.000000
16            17      0.0          0.000000
17            18      0.0          0.000000
18            19      0.0          0.000000
19            20      0.0          0.000000
20            21      0.0          0.000000
21            22      0.0          0.000000
22            23      0.0          0.000000
23            24      0.0          0.000000
24            25      0.0          0.000000
25            26      0.0          0.000000
26            27      0.0          0.000000
27            28      0.0          0.000000
28            29      0.0          0.000000
29            30      0.0          0.000000
...          ...      ...               ...
1490        1491      0.0          0.000000
1491        1492      0.0          0.000000
1492        1493      0.0          0.000000
1493        1494      0.0          0.000000
1494        1495      0.0          0.000000
1495        1496      0.0          0.000000
1496        1497      0.0          0.000000
1497        1498      0.0          0.000000
1498        1499      0.0          0.000000
1499        1500      0.0          0.000000
1500        1501      0.0          0.000000
1501        1502      0.0          0.000000
1502        1503      0.0          0.000000
1503        1504      0.0          0.000000
1504        1505      0.0          0.000000
1505        1506      0.0          0.000000
1506        1507      0.0          0.000000
1507        1508      0.0          0.000000
1508        1509    706.0          0.017650
1509        1510    203.0          0.005075
1510        1511      0.0          0.000000
1511        1512      0.0          0.000000
1512        1513      0.0          0.000000
1513        1514      0.0          0.000000
1514        1515      0.0          0.000000
1515        1516      0.0          0.000000
1516        1517      0.0          0.000000
1517        1518      0.0          0.000000
1518        1519      0.0          0.000000
1519        1520      0.0          0.000000

[1520 rows x 3 columns]

In [28]:
data_density = data_density.rename(columns = {'bu-area': 'building-area-sum'})

In [29]:
data_density.head(2)

   fishnet-ID  building-area-sum  building_density
0           1                0.0               0.0
1           2                0.0               0.0

In [30]:
#data_density.drop(['index_old'],axis = 1)

In [31]:
data_diversity = pd.read_csv(Folder_PATH + 'building_type_number_by_fishnet.csv', index_col=0)

In [32]:
data_diversity.head(2)

   fishnet-ID  building_type
0          52              1
1          54              1

In [33]:
block_diversity = pd.read_csv(Folder_PATH + 'count_and_area_by_fishnet.csv', index_col = 0)

In [36]:
block_diversity = block_diversity.rename(columns = {'full_id': 'bu-sum-in-block' })

In [37]:
block_diversity.head(2)

   fishnet-ID  bu-sum-in-block  fishnet-ID.1  block area
0          15                1            15      254144
1          16                1            16      254144

In [39]:
block_diversity = block_diversity.drop(['fishnet-ID.1'], axis=1)

In [41]:
#block_diversity

In [42]:
merge_data_1 = pd.merge(data_density, data_diversity, on = 'fishnet-ID', how ='outer')

In [43]:
merge_data_1

      fishnet-ID  building-area-sum  building_density  building_type
0              1                0.0          0.000000            NaN
1              2                0.0          0.000000            NaN
2              3                0.0          0.000000            NaN
3              4                0.0          0.000000            NaN
4              5                0.0          0.000000            NaN
5              6                0.0          0.000000            NaN
6              7                0.0          0.000000            NaN
7              8                0.0          0.000000            NaN
8              9                0.0          0.000000            NaN
9             10                0.0          0.000000            NaN
10            11                0.0          0.000000            NaN
11            12                0.0          0.000000            NaN
12            13                0.0          0.000000            NaN
13            14                0.0          0.000000            NaN
14            15                0.0          0.000000            NaN
15            16                0.0          0.000000            NaN
16            17                0.0          0.000000            NaN
17            18                0.0          0.000000            NaN
18            19                0.0          0.000000            NaN
19            20                0.0          0.000000            NaN
20            21                0.0          0.000000            NaN
21            22                0.0          0.000000            NaN
22            23                0.0          0.000000            NaN
23            24                0.0          0.000000            NaN
24            25                0.0          0.000000            NaN
25            26                0.0          0.000000            NaN
26            27                0.0          0.000000            NaN
27            28                0.0          0.000000            NaN
28            29                0.0          0.000000            NaN
29            30                0.0          0.000000            NaN
...          ...                ...               ...            ...
1490        1491                0.0          0.000000            NaN
1491        1492                0.0          0.000000            NaN
1492        1493                0.0          0.000000            NaN
1493        1494                0.0          0.000000            NaN
1494        1495                0.0          0.000000            NaN
1495        1496                0.0          0.000000            NaN
1496        1497                0.0          0.000000            NaN
1497        1498                0.0          0.000000            NaN
1498        1499                0.0          0.000000            NaN
1499        1500                0.0          0.000000            NaN
1500        1501                0.0          0.000000            NaN
1501        1502                0.0          0.000000            NaN
1502        1503                0.0          0.000000            NaN
1503        1504                0.0          0.000000            NaN
1504        1505                0.0          0.000000            NaN
1505        1506                0.0          0.000000            NaN
1506        1507                0.0          0.000000            NaN
1507        1508                0.0          0.000000            NaN
1508        1509              706.0          0.017650            1.0
1509        1510              203.0          0.005075            1.0
1510        1511                0.0          0.000000            NaN
1511        1512                0.0          0.000000            NaN
1512        1513                0.0          0.000000            NaN
1513        1514                0.0          0.000000            NaN
1514        1515                0.0          0.000000            NaN
1515        1516                0.0          0.000000            NaN
1516        1517                0.0          0.000000            NaN
1517        1518                0.0          0.000000            NaN
1518        1519                0.0          0.000000            NaN
1519        1520                0.0          0.000000            NaN

[1520 rows x 4 columns]

In [44]:
merge_data_2 = pd.merge(merge_data_1, block_diversity, on = 'fishnet-ID', how ='outer')

In [46]:
merge_data_2

,fishnet-ID,building-area-sum,building_density,building_type,bu-sum-in-block,block area
0,1,0.0,0.000000,NaN,NaN,NaN
1,2,0.0,0.000000,NaN,NaN,NaN
2,3,0.0,0.000000,NaN,NaN,NaN
3,4,0.0,0.000000,NaN,NaN,NaN
4,5,0.0,0.000000,NaN,NaN,NaN
5,6,0.0,0.000000,NaN,NaN,NaN
6,7,0.0,0.000000,NaN,NaN,NaN
7,8,0.0,0.000000,NaN,NaN,NaN
8,9,0.0,0.000000,NaN,NaN,NaN
9,10,0.0,0.000000,NaN,NaN,NaN
10,11,0.0,0.000000,NaN,NaN,NaN
11,12,0.0,0.000000,NaN,NaN,NaN
12,13,0.0,0.000000,NaN,NaN,NaN
13,14,0.0,0.000000,NaN,NaN,NaN
14,15,0.0,0.000000,NaN,1.0,254144.0
15,16,0.0,0.000000,NaN,1.0,254144.0
16,17,0.0,0.000000,NaN,NaN,NaN
17,18,0.0,0.000000,NaN,NaN,NaN
18,19,0.0,0.000000,NaN,NaN,NaN
19,20,0.0,0.000000,NaN,NaN,NaN
20,21,0.0,0.000000,NaN,NaN,NaN
21,22,0.0,0.000000,NaN,NaN,NaN
22,23,0.0,0.000000,NaN,NaN,NaN
23,24,0.0,0.000000,NaN,NaN,NaN
24,25,0.0,0.000000,NaN,NaN,NaN
25,26,0.0,0.000000,NaN,NaN,NaN
26,27,0.0,0.000000,NaN,NaN,NaN
27,28,0.0,0.000000,NaN,NaN,NaN
28,29,0.0,0.000000,NaN,NaN,NaN
29,30,0.0,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...
1490,1491,0.0,0.000000,NaN,NaN,NaN
1491,1492,0.0,0.000000,NaN,NaN,NaN
1492,1493,0.0,0.000000,NaN,NaN,NaN
1493,1494,0.0,0.000000,NaN,NaN,NaN
1494,1495,0.0,0.000000,NaN,NaN,NaN
1495,1496,0.0,0.000000,NaN,NaN,NaN
1496,1497,0.0,0.000000,NaN,NaN,NaN
1497,1498,0.0,0.000000,NaN,NaN,NaN
1498,1499,0.0,0.000000,NaN,NaN,NaN
1499,1500,0.0,0.000000,NaN,NaN,NaN
1500,1501,0.0,0.000000,NaN,NaN,NaN
1501,1502,0.0,0.000000,NaN,NaN,NaN
1502,1503,0.0,0.000000,NaN,NaN,NaN
1503,1504,0.0,0.000000,NaN,NaN,NaN
1504,1505,0.0,0.000000,NaN,NaN,NaN
1505,1506,0.0,0.000000,NaN,NaN,NaN
1506,1507,0.0,0.000000,NaN,NaN,NaN
1507,1508,0.0,0.000000,NaN,NaN,NaN
1508,1509,706.0,0.017650,1.0,NaN,NaN
1509,1510,203.0,0.005075,1.0,NaN,NaN
1510,1511,0.0,0.000000,NaN,NaN,NaN
1511,1512,0.0,0.000000,NaN,NaN,NaN
1512,1513,0.0,0.000000,NaN,NaN,NaN
1513,1514,0.0,0.000000,NaN,NaN,NaN
1514,1515,0.0,0.000000,NaN,NaN,NaN
1515,1516,0.0,0.000000,NaN,NaN,NaN
1516,1517,0.0,0.000000,NaN,NaN,NaN
1517,1518,0.0,0.000000,NaN,NaN,NaN
1518,1519,0.0,0.000000,NaN,NaN,NaN
1519,1520,0.0,0.000000,NaN,NaN,NaN

In [47]:
merge_data_2.to_csv('building_block_density_diversity.csv')